<!DOCTYPE html>
<html>
<head>
  <title>Argo</title>
  <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/6.1.6/basscss.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- 
  Would it make more sense to check the CDN, then load it? what;s the benefit of the CDN?
  <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/6.1.5/basscss.min.css" rel="stylesheet">
  -->
</head>
<body>


<header>
  <nav class="clearfix white bg-blue">
    <div class="sm-col">
      <a href="/" class="button py2 button-transparent">Argo</a>
    </div>
    <div class="sm-col-right">
      <% if current_user %>
	<a href="/" class="button py2 button-transparent">Your Account</a>
	<%= link_to "Logout #{current_user.email}", destroy_user_session_path, method: :delete, class: "button py2 button-transparent" %>
      <% else %>
	<%= link_to "Sign Up", new_user_registration_path , class: "button py2 button-transparent" %>
	<%= link_to "Log In", new_user_session_path , class: "button py2 button-transparent" %>
      <% end %>
    </div>
  </nav>
</header>


<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>  

<%= yield %>

</body>
</html>
